In [1]:
from pymove import MoveDataFrame
import pandas as pd
import vaex

In [2]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])

move_df = MoveDataFrame(data=df, latitude="lat", longitude="lon", datetime="datetime", traj_id="id")
move_df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [3]:
move_vaex = MoveDataFrame(data=df, longitude="lon", datetime="datetime", type_='vaex')

In [4]:
a = move_vaex.get_bbox()

In [5]:
a = move_vaex.time_interval()

In [6]:
#from datetime import datetime

In [7]:
#import pandas as pd
#import numpy as np

In [8]:
#from pandas import Timedelta

In [9]:
#x = np.timedelta64(a, 'ns')
#days = x.astype('timedelta64[D]') / np.timedelta64(1, 'D')
#days = int(days)

In [10]:
#d = datetime.utcfromtimestamp(x.item() // 1000000000)
#time = d.strftime('%H:%M:%S')

In [11]:
#b = Timedelta(str(days) + ' days ' + time)

In [12]:
#move_df.time_interval()

In [13]:
#b

In [14]:
move_df.count()

lat         217653
lon         217653
datetime    217653
id          217653
dtype: int64

In [15]:
move_vaex.count(expression=['lat', 'lon', 'datetime'])

array([217653, 217653, 217653], dtype=int64)