In [1]:
from pymove import MoveDataFrame
import pandas as pd
import vaex

In [2]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])

move_df = MoveDataFrame(data=df, latitude="lat", longitude="lon", datetime="datetime", traj_id="id")
move_df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [3]:
move_vaex = MoveDataFrame(data=df, longitude="lon", datetime="datetime", type_='vaex')

In [4]:
move_vaex.len()

217653

In [7]:
type(move_vaex.len)

pandas.core.series.Series

In [10]:
move_df.len()

217653

In [11]:
move_vaex._data.shape

(217653, 4)